@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Gentium+Book+Plus:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Gentium+Book+Plus:ital,wght@1,700&family=Metal+Mania&display=swap');

html, body{
    margin: 0;
    padding: 0;
}
nav ul{
    margin: 0%;
}
nav li{
    display: inline;
}
nav a{
    display: inline-block;
    padding: .7em;
    color:white;
    text-decoration: none;
}
nav a:hover{
    background-color: rgb(146, 59, 59);
}
.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight:lighter ;
}
.main-nav li{
    padding:0 5%
}


.main-header{
    background-color: grey;
    background-image: url("./images/wiz\ tommy.jpeg") ;
    background-size:contain;
    background-blend-mode: multiply;
    padding-bottom: 30px;

}
.band-name{
    margin: 0;
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Gentium Book Plus', serif;
    color: rgb(221, 220, 220);
}
.band-name-large{
    font-size: 7em;
}
.content-section{
    margin: 1em;
}
.container{
        max-width: 900px;
        margin: 0 auto;
        padding:0 1.5em;
}
.section-header{
font-family: 'metal mania';
font-weight: normal;
color: rgb(88, 88, 88);
text-align: center;
font-size: 2.5em;
}
.about-image{
float: left;
height: 300px;
width: 300px;
margin: 10px;
border-radius: 50%;
}
.main-footer{
    background-color: rgb(129, 126, 126) ;
    padding: .25em 0;
}

.main-footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}
.footer-nav li{
    padding-left: 0 .5em;
}
.footer-nav img{
    margin: 5px;
    width: 40px;
    height: 40px;
    
}
.btn{
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    cursor: pointer;
}
.btn-header{
    margin: .5em 12% .2em 15%;
    color:white;
    border: 2px solid brown;
    background-color: rgba(255,255,255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}
.btn-header:hover{
    background-color:rgba(255, 255, 255, .5) ;
}
.btn-play{
    margin: 0 auto;
    display: block;
    color: brown;
    font-size: 3em;
    border-radius: 50%;
    padding: 0;
    height: 100px;
    width: 100px;
}
.tow-row{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
}
.tow-row :last-child{
    border-bottom: none;
}
.tour-item{
    display: inline-block;
    padding: .5em;
}
.tour-date{
    color: #555;
    font-weight: bold;
    width: 11%;
}
.tour-city{
    width: 24%;
}
.tour-arena{
    width: 42%;
}
.btn{
    max-width: 19%;
}
.btn-primary{
    color: white;
    background-color: brown;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: rgb(112, 26, 26);
}
.shop-item{
    margin: 30px;
}
.shop-item-title{
    display:block;
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 9px;
}
.shop-item-image{
    width: 30%;
}
.shop-item-details{
    display: flex;
    flex-direction: ro;
    align-items: center;
    padding: 20px;
}
.shop-item-price{
    flex-grow: 1;
    color: #333;
}
.shop-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cart-header{
    font-weight: bold;
    font-size: 1.2em;
    color:  #333;
}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-row{
    display: flex;
}
.cart-item{
    width: 45%;

}
.cart-price{
    width: 20%;
    font-size: 1.2em;
    color: #333;

}
.cart-quatity{
    width: 35%;

}
.cart-item-title{
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;}

    .cart-item-image{
    width: 75px;
    height: auto;
    border-radius: 5px;
    }

.btn-danger{
    color: white;
    background-color: rgb(224, 78, 11);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: brown;
}
.cart-quatity-input{
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid brown;
    background-color: #eee;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}